<ion-header>
  <ion-toolbar>
    <ion-title>
      Contentful CMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let event of event$ | async">
    <ion-img [src]="event.cover.fields.file.url"></ion-img>
  
    <ion-card-content>
      <ion-card-title> {{ event.title }} </ion-card-title>
  
      <p> {{ event.date | date: 'fullDate' }} </p>

      <ul>
        <li *ngFor="let tag of event.tags"> {{ tag }} </li>
      </ul>
    </ion-card-content>
  </ion-card>
  
</ion-content>
